* {
  box-sizing: border-box;
}
a{
  color: inherit;
  text-decoration: none;
}
h1{
  font-size: 3em;
  margin: 0;
  text-align: center;
}
input{
  display: none;
}
.container{
  padding: 0 50px;
}
header, footer{
  background-color: rgba(0, 0, 0, 0.1);
  padding: 20px 0;
}
.css-mem-slider{
  position: relative;
  margin: auto;
  text-align: center;
  padding: 50px 0;
}
.slider{
  height: 500px;
  max-width: 800px;
  overflow: hidden;
  margin: auto;
}
.slides{
  position: absolute;
  width: inherit;
  height: inherit;
  transition: 1s;
  opacity: 0;
}
.slides img{
  object-fit: cover;
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.controls{
  position: relative;
  z-index: 100;
  margin-right: -5px;
}
.controls label {
	cursor: pointer;
  display: inline-block;
  padding: 5px;
}
.controls-inner{
	height: 15px;
	width: 15px;
	border-radius: 50%;
  border: 1px solid #000000;
  background: #000000;
  transition: 1s;
}
.controls label:hover .controls-inner{
  background: transparent;
} 
#slide1:checked ~ .quotes .controls label:nth-of-type(1) .controls-inner,
#slide2:checked ~ .quotes .controls label:nth-of-type(2) .controls-inner,
#slide3:checked ~ .quotes .controls label:nth-of-type(3) .controls-inner,
#slide4:checked ~ .quotes .controls label:nth-of-type(4) .controls-inner,
#slide5:checked ~ .quotes .controls label:nth-of-type(5) .controls-inner,
#slide6:checked ~ .quotes .controls label:nth-of-type(6) .controls-inner {
	background: #00c441;
  border: 1px solid #00c441;
}
#slide1:checked ~ .slider > .slide1,
#slide2:checked ~ .slider > .slide2,
#slide3:checked ~ .slider > .slide3,
#slide4:checked ~ .slider > .slide4,
#slide5:checked ~ .slider > .slide5,
#slide6:checked ~ .slider > .slide6 {
	opacity: 1;
	z-index: 1;
}
.quotes{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 30px auto 0;
  max-width: 800px;
}
.slides-text{
  opacity: 0;
  position: absolute;
  font-size: 1.2em;
  width: 30%;
  text-align: left;
  transition: 1s;
}
#slide1:checked ~ .quotes .slides-description > .slide1,
#slide2:checked ~ .quotes .slides-description > .slide2,
#slide3:checked ~ .quotes .slides-description > .slide3,
#slide4:checked ~ .quotes .slides-description > .slide4,
#slide5:checked ~ .quotes .slides-description > .slide5,
#slide6:checked ~ .quotes .slides-description > .slide6 {
	opacity: 1;
}
footer{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.footer-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5em;
}
@media (max-width: 768px) {
  .container{
    padding: 0 20px;
  }
  .css-mem-slider{
    padding: 20px 0;
  }
  .quotes{
    flex-direction: column;
  }
  .controls{
    order: -1;
    margin: 0 auto 20px;
  }
  .slider {
    height: 455px;
  }
  .slides-text{
    width: 100%;
  }
}
@media (max-width: 600px) {
  .slider {
    height: 350px;
  }
}
@media (max-width: 475px) {
  .slider {
    height: 270px;
  }
}
@media (max-width: 375px) {
  .slider {
    height: 200px;
  }
}